.course-list-item {
  display: flex;
  margin: 15px 0;
}

.course-list-item .course-cover {
  flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}

.course-list-item .course-cover img {
  max-width: 100%;
}

.course-list-item .course-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: flex-start;
}

.course-list-item .course-details .course-title {
  font-size: 1.2rem;
}

.course-list-item .course-details .course-price {
  font-size: 1.4rem;
}
